@use '../custom' as *;

.technologies{
    padding: 0 0 5rem 0;

    &__box{
        max-width: 50%;
        max-height: 2rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.5rem;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;

    
        img{
            height: 50%;
        }

    }

}